.multistep {
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem #ddd;
  background-color: #fff;
  width: 700px;
  height: 800px;
}

.multistep-page {
  box-sizing: border-box;
  padding: 2rem 2.5rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #eee;
  border: none;
  border-radius: 0.5rem;
}

input {
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: 1px solid black;
}

/* Below is for the tool selection page. 
Will likely be refactored and moved to a different component */

#tool-dropdown {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.options-list {
  list-style-position: inside;
}
