.add-option-input {
  padding: 0.5rem 1rem;
  width: 100%;
}

.add-option-input:focus {
  outline: none;
}

.add-option-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
