.addoption-input {
  padding: 0.5rem 1rem;
  width: 100%;
}

.addoption-input:focus {
  outline: none;
}

h1 {
  margin: 0;
  padding: 0;
}

.addoption-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
