.nav-bar {
  height: 3rem;
  background-color: #ccc;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  padding: 0.5rem 1rem;
}

.nav-logo:hover {
  cursor: pointer;
  background-color: #eee;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  padding: 0.5rem 1rem;
}

.nav-item:hover {
  background-color: #eeeeee;
  cursor: pointer;
}
