.nav-bar {
  position: fixed;
  top: 0;
  height: 3rem;
  width: 1200px;
  /*background-color: #eee;*/
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  justify-self: center;
}

.nav-bar::after {
  width: 100vw;
  height: 3rem;
  content: "";
  /*background-color: #eee;*/
  position: fixed;
  border-bottom: solid 1px #eee;
  top: 0;
  left: 0;
  z-index: -1;
  backdrop-filter: blur(15px);
}

.nav-logo {
  padding: 0.5rem 1rem;
}

.nav-logo:hover {
  cursor: default;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--color-text);
}

.nav-item-active {
  background-color: #eee;
}

.nav-item:hover {
  background-color: #eee;
  cursor: pointer;
}
