.app-container {
  width: 1200px;
  min-height: calc(100vh - 3rem);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
  padding: 1rem 0;
}
