:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --color-primary: brown;
  --color-secondary: brown;
  --color-success: brown;
  --color-warning: brown;
  --color-danger: brown;
  --color-black: brown;
  --color-white: brown;
  --color-neutral: brown;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}
