* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* primary accents */
  --color-primary: #8075ca;
  --color-secondary: #006045;

  /* Status  */
  --color-success: #198754;
  --color-info: #005fb8;
  --color-warning: #ffc107;
  --color-danger: #dc3545;

  /* Neutrals & text */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --color-light: #f8f9fa;
  --color-dark: #212529;
  --color-text: var(--color-dark);
  --color-muted: #6c757d;
}

.btn-info {
  color: #fff;
  background-color: var(--color-info);
}

.btn-success {
  color: #fff;
  background-color: var(--color-success);
}

.btn-danger {
  color: #fff;
  background-color: var(--color-danger);
}

body {
  background: linear-gradient(
    80deg,
    #e6fff7 0%,
    #ffffff 40%,
    #ffffff 60%,
    #e6fff7 100%
  );
}
